      <!-- 상단 메뉴 -->
      <nav class="header-nav">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/write">글 작성</a>
          </li>
          <li>
            <a href="/search">글 검색하기</a>
          </li>
        </ul>
      </nav>
    
   <!-- 게시물 -->
<section class="articles">
  <h2 class="articles-heading">게시물</h2>
  <ul class="article-ul">
    <li>
      <span>번호</span>
      <span>작성자</span>
      <span>제목</span>
      <span>조회수</span>
    </li>
    <% posts.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.number %></span>
          <span><%= post.author %></span>
          <span><%= post.title %></span>
          <span><%= post.views %></span>
          <span class="article-list-date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>
</section>