<h1><%= data.title %></h1>
<article class="article">
    <%= data.body %>
</article>
<ul>
  <li>번호: <%= data.number %></li>
  <li>작성자: <%= data.author %></li>
  <li>조회수: <%= data.views %></li>
  <li>작성일: <%= data.createdAt.toDateString() %></li>
</ul>